In [1]:
#### Text classifcation model - Naive Bayes

In [ ]:
#

In [105]:
import os # operating system 
import pandas as pd # pandas
import numpy as np # numpy 
import re # regular expressions in python 
import nltk # natural language tool kit ,data cleaning 
from nltk.corpus import stopwords # 4. to remove stop words
from nltk.stem import WordNetLemmatizer # 5. lematization 
from nltk.stem.porter import * # Stemmers remove morphological affixes from words, leaving only the word stem.
from sklearn.feature_extraction.text import CountVectorizer # term frequency  tokenise the collection of text documents and build a vocabulary of known words
from sklearn.feature_extraction.text import TfidfVectorizer # N( TF) or N(TF* IDF)Convert a collection of raw documents to a matrix of TF-IDF features.
from sklearn.feature_extraction.text import TfidfTransformer # tO CONVERT count vectorizer to Tfidf Transform a count matrix to a normalized tf or tf-idf representation
from itertools import islice # Functions creating iterators for efficient looping. the islice() function works much the same way as slicing a list or tuple
from sklearn.naive_bayes import MultinomialNB # multi label target variables 
import pickle#Any object in python can be pickled so that it can be saved on disk.Pickling is a way to convert a python object (list, dict, etc.) into a character stream.
#It is used for serializing and de-serializing a Python object structure

In [106]:
os.chdir("C:\\Users\\admin\\Desktop")

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 6 columns):
Class        120000 non-null int64
ShortDesc    120000 non-null object
Desc         120000 non-null object
cleaned      120000 non-null object
stemmed      120000 non-null object
lemmed       120000 non-null object
dtypes: int64(1), object(5)
memory usage: 5.5+ MB

In [108]:
df = pd.read_csv("train.csv", header=None)

In [109]:
df.head()# either u can use both of them ( 1  or 2  as inputs ( independent features))
#0 is target variable

,0,1,2
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [110]:
df.shape

(120000, 3)

In [111]:
df.size

360000

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 3 columns):
0    120000 non-null int64
1    120000 non-null object
2    120000 non-null object
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

In [113]:
df.columns = ["Class","ShortDesc","Desc"]
df.head()

,Class,ShortDesc,Desc
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

## Add a full list of stopwords

In [114]:
# Data cleaning 
# a.) convert all words to  lower case
# b.) Remove special characters ,numbers (use regular expressions )[! A-Z  a-z]
# c.) Remove stop words
# d.) Additionally we can use lemmatization

In [115]:
stops = stopwords.words('english')#  how to get ad_ stop words? By using Document Term Matrix , with least  term frequency we can keep in stop words 
ad_stopwords = ['monday', 'like', 'com', 'use', 'help', 'create', 'time', 'want', 'a', 'about', 'above', 'across', 'after', 'afterwards'] 
stops.extend(ad_stopwords)

In [116]:
stops[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [12]:
##REGEX FOR DATE REMOVAL
#import re
txt='Monday, April, 4, 2016, 10:16:06'
re1='(Monday)'	# Day Of Week 1
re2='.*?'	# Non-greedy match on filler
re3='(April)'	# Month 1
re4='.*?'	# Non-greedy match on filler
re5='(4)'	# Day 1
re6='.*?'	# Non-greedy match on filler
re7='(2016)'	# Year 1
re8='.*?'	# Non-greedy match on filler
re9='(10:16:06)'	# HourMinuteSec 1

rg = re.compile(re1+re2+re3+re4+re5+re6+re7+re8+re9,re.IGNORECASE|re.DOTALL)
print(rg)
m = rg.search(txt)
print(m)
if m:
    dayofweek1=m.group(1)
    print(dayofweek1)
    print(m.group(1))
    
    month1=m.group(2)
    print(month1)
    day1=m.group(3)
    print(day1)
    year1=m.group(4)
    print(year1)
    time1=m.group(5)
    print(time1)
    print(m)

re.compile('(Monday).*?(April).*?(4).*?(2016).*?(10:16:06)', re.IGNORECASE|re.DOTALL)
<re.Match object; span=(0, 32), match='Monday, April, 4, 2016, 10:16:06'>
Monday
Monday
April
4
2016
10:16:06
<re.Match object; span=(0, 32), match='Monday, April, 4, 2016, 10:16:06'>

In [13]:
#import re
re1='(b)'	# Variable Name 1
re2='.*?'	# Non-greedy match on filler
re3='(4\\/04\\/2016)'	# DDMMYYYY 1

rd = re.compile(re1+re2+re3,re.IGNORECASE|re.DOTALL)
print(rd)
m = rd.search(txt)
print(m)
if m:
    var1=m.group(1)
    print(var1)
    
    ddmmyyyy1=m.group(2)
    print(ddmmyyyy1)
    print(m)

re.compile('(b).*?(4\\/04\\/2016)', re.IGNORECASE|re.DOTALL)
None

In [14]:
#import re
txt='\\\\r\\\\r____________________________\\\\r'

re1='(\\\\\\\\r\\\\\\\\r____________________________\\\\\\\\r)'	# Windows UNC 1

rt = re.compile(re1,re.IGNORECASE|re.DOTALL)
print(rt)
m = rt.search(txt)
print(m)

if m:
    unc1=m.group(1)
    print(unc1)

re.compile('(\\\\\\\\r\\\\\\\\r____________________________\\\\\\\\r)', re.IGNORECASE|re.DOTALL)
<re.Match object; span=(0, 37), match='\\\\r\\\\r____________________________\\\\r'>
\\r\\r____________________________\\r

lemm=wordnetlemmatizer()

In [24]:
lemm= WordNetLemmatizer()

In [117]:
#import nltk # doubt
def _remove_noise(input_text):
    input_text = str(input_text).encode('ascii', 'ignore')# there are some when we are encoding  entire text to ascii , only special charecters are predefined
    # like japanese  and other languages it can not convert to ascii ,there are non as
    input_text = str(input_text).replace(",", "")
    input_text = str(input_text).replace("\'" ,"")
    input_text = str(input_text).replace("\\", "")
    input_text = str(input_text).replace("-", "")
    input_text = str(input_text).replace(".", "")
    input_text = re.sub("\d+","",input_text)
    input_text = re.sub("[^a-zA-Z0-9]"," ",input_text)
    words      =str(input_text).split()
    noise_free_words =  [word for word in words if word.lower() not in stops]
    lower_words =[word.lower() for word in noise_free_words]
    lower_words=[lemm.lemmatize(w) for w in lower_words]
                                         
    return lower_words   
    #input_text = str(input_text).replace("\'\\", "")
    #input_text = str(input_text).replace("\'\", "")
    #input_text = re.sub(rg, ' ', input_text)# sub ---- substitute 
    
    #input_text = re.sub([[:punct:]], '', input_text) -- this is a step in R 
    #input_text = re.sub(rd, ' ', input_text)
     
    #input_text = re.sub(rt, ' ', input_text)
      
    #words = str(input_text).split()
    #pos_words = nltk.pos_tag(words)
    #noise_free_words = [i[0] for i in pos_words if i[1] in ('NN')]
   # noise_free_words = [word for word in noise_free_words if word.lower() not in stops]
   # return noise_free_words

In [118]:
text="This is a Test to remove numbers\.1234\.. and special characters 1234@%!"

_remove_noise(text)

In [119]:
_remove_noise(text)

['bthis', 'test', 'remove', 'number', 'special', 'character']

In [32]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [120]:
df["cleaned"] = df.Desc.apply(_remove_noise)
df.head()

,Class,ShortDesc,Desc,cleaned
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...","[b, reuters, shortsellers, wall, street, dwind..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,"[breuters, private, investment, firm, carlyle,..."
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,"[breuters, soaring, crude, price, plus, worrie..."
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,"[breuters, authority, halted, oil, exportflows..."
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...","[bafp, tearaway, world, oil, price, toppling, ..."

In [72]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [121]:
#from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
df['lemmed'] = df.cleaned.map(lambda x: ' '.join([lemmatizer.lemmatize(y) for y in x]))
df.lemmed.head()

0    b reuters shortsellers wall street dwindlingba...
1    breuters private investment firm carlyle group...
2    breuters soaring crude price plus worriesabout...
3    breuters authority halted oil exportflows main...
4    bafp tearaway world oil price toppling record ...
Name: lemmed, dtype: object

In [122]:
cvec = CountVectorizer(stop_words= stops, min_df=.001, max_df=.7, ngram_range=(1,3))

In [123]:

cvec.fit(df['lemmed'])
len(cvec.vocabulary_)
# term frequencies

3800

In [124]:
len(cvec.vocabulary_)

3800

In [125]:
#from itertools import islice
cvec.fit(df.lemmed)

list(islice(cvec.vocabulary_.items(), 20))

[('reuters', 2852),
 ('wall', 3649),
 ('street', 3264),
 ('green', 1476),
 ('wall street', 3650),
 ('breuters', 489),
 ('private', 2608),
 ('investment', 1739),
 ('firm', 1298),
 ('making', 2021),
 ('play', 2509),
 ('defense', 943),
 ('industry', 1679),
 ('quietly', 2697),
 ('another', 158),
 ('part', 2418),
 ('market', 2047),
 ('soaring', 3133),
 ('crude', 876),
 ('price', 2595)]

In [127]:
cvec_counts = cvec.transform(df.lemmed)
print ('sparse matrix shape:', cvec_counts.shape)
print ('nonzero count:', cvec_counts.nnz)
print ('sparsity: %.2f%%' % (100.0 * cvec_counts.nnz / (cvec_counts.shape[0] * cvec_counts.shape[1])))

sparse matrix shape: (120000, 3800)
nonzero count: 1921427
sparsity: 0.42%

In [128]:
transformer = TfidfTransformer()
transformed_weights = transformer.fit_transform(cvec_counts)
transformed_weights

#transformer = TfidfTransformer()
#loaded_vec = CountVectorizer(decode_error="replace",vocabulary=pickle.load(open("feature.pkl", "rb")))
#tfidf = transformer.fit_transform(loaded_vec.fit_transform(cvec_counts))

<120000x3800 sparse matrix of type '<class 'numpy.float64'>'
	with 1921427 stored elements in Compressed Sparse Row format>

In [129]:
weights = np.asarray(transformed_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': cvec.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

           term    weight
2917       said  0.018048
2233        new  0.015668
532        bthe  0.012961
3780       year  0.012489
2700       quot  0.012422
763     company  0.011498
2852    reuters  0.010348
1299      first  0.010254
3535        two  0.009680
3743      world  0.009401
3688  wednesday  0.009114
3524    tuesday  0.008985
3445   thursday  0.008885
2336        one  0.008758
1390     friday  0.008510
1409       game  0.008392
3784  yesterday  0.008365
3691       week  0.008341
1651        inc  0.008157
3225      state  0.008108

In [130]:
target = df["Class"]

In [131]:
nb = MultinomialNB()

In [132]:
nb.fit(transformed_weights, target)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [133]:
os.chdir("C:\\Users\\admin\\Desktop")

In [134]:



df1 = pd.read_csv("test.csv",header=None)

In [135]:
df1.columns = ["Class","ShortDesc","Desc"]
df1.head()

,Class,ShortDesc,Desc
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...

In [136]:
df1["cleaned"] = df1.Desc.apply(_remove_noise)
df1.head()

,Class,ShortDesc,Desc,cleaned
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...,"[b, union, representing, worker, turner, newal..."
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o...","[bspacecom, toronto, canada, secondteam, rocke..."
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...,"[bap, company, founded, chemistry, researcher,..."
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...,"[b, ap, barely, dawn, mike, fitzpatrick, start..."
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...,"[b, ap, southern, california, smogfighting, ag..."

In [137]:
#from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
df1['stemmed'] = df1.cleaned.map(lambda x: ' '.join([lemmatizer.lemmatize(y) for y in x]))
df1.stemmed.head()

0    b union representing worker turner newall say ...
1    bspacecom toronto canada secondteam rocketeers...
2    bap company founded chemistry researcher unive...
3    b ap barely dawn mike fitzpatrick start shift ...
4    b ap southern california smogfighting agency w...
Name: stemmed, dtype: object

In [138]:
cvec1 = CountVectorizer(stop_words= stops, min_df=0.001, max_df=0.9, ngram_range=(1,2))

In [96]:
#from itertools import islice
cvec1.fit(df1.stemmed)
list(islice(cvec1.vocabulary_.items(), 20))

[('union', 3668),
 ('representing', 2897),
 ('worker', 3854),
 ('say', 3036),
 ('talk', 3460),
 ('parent', 2482),
 ('firm', 1350),
 ('federal', 1298),
 ('bspacecom', 539),
 ('toronto', 3574),
 ('canada', 598),
 ('competing', 790),
 ('million', 2178),
 ('ansari', 161),
 ('prize', 2693),
 ('contest', 837),
 ('space', 3273),
 ('flight', 1377),
 ('officially', 2387),
 ('announced', 153)]

In [139]:
cvec1 = CountVectorizer(stop_words=stops, min_df=.001, max_df=.8, ngram_range=(1,2))
cvec1.fit(df1.stemmed)
len(cvec1.vocabulary_)

3916

In [140]:
cvec_counts1 = cvec.transform(df1.stemmed)
print ('sparse matrix shape:', cvec_counts1.shape)
print ('nonzero count:', cvec_counts1.nnz)
print ('sparsity: %.2f%%' % (100.0 * cvec_counts1.nnz / (cvec_counts1.shape[0] * cvec_counts1.shape[1])))

sparse matrix shape: (7600, 3800)
nonzero count: 120410
sparsity: 0.42%

In [141]:
transformer1 = TfidfTransformer()
transformed_weights1 = transformer.fit_transform(cvec_counts1)
transformed_weights1

<7600x3800 sparse matrix of type '<class 'numpy.float64'>'
	with 120410 stored elements in Compressed Sparse Row format>

In [142]:
preds = nb.predict(transformed_weights1)# new TFIDF values

In [143]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [144]:
confusion_matrix(df1["Class"], preds)

array([[1664,   76,   92,   68],
       [  39, 1817,   13,   31],
       [  96,   26, 1524,  254],
       [  94,   50,  173, 1583]], dtype=int64)

In [145]:
accuracy_score(df1["Class"], preds, normalize=True)

0.8668421052631579